body{
    background-color: black;
}

h1{
    text-align:center;
    font-size:3rem;
    color:white;
    font-family: 'Sora', sans-serif;
    margin-top:100px;
}

.main{
    text-align: center;
    display: flex;
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
}

@media (max-width: 920px) {
  
    .main a {
        font-size: calc(1rem + 1vw); 
    }
}

@media (max-width: 645px) {
    .main a {
        font-size: 1rem; 
    }
}

@media (max-width: 430px) {
    .main {
        justify-content: flex-start;
    }
    .main a {
        font-size: 0.9rem; 
        margin: 5px 0; 
    }
}

@media (max-width: 390px) {
    .main {
        justify-content: flex-start;
    }
    .main a {
        font-size: 0.8rem; 
        margin: 5px 0; 
    }
}

#aboutme:hover,
#contactme:hover,
#github:hover,
#projects:hover,
#resume:hover,
#home:hover,
#chat:hover {
    text-decoration: underline;
}

#aboutme,
#contactme,
#github,
#projects,
#resume,
#home,
#chat
{
    color: white;
    text-decoration: None;
}

.info{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
}

ul.info {
    list-style-type: none;
    padding: 0;
}

ul.info li {
    margin-bottom: 10px; 
    padding-left: 20px;
    position: relative
}

.chat{
    text-align:center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Sora', sans-serif;
}

@media (max-width: 430px){
    .info{
        font-size: 1.4rem;
    }
}

