body{
    background-color: black;
}

.main{
    text-align: center;
    display: flex;
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
}

@media (max-width: 920px) {
  
    .main a {
        font-size: calc(1rem + 1vw); 
    }
}

@media (max-width: 645px) {
    .main a {
        font-size: 1rem; 
    }
}

@media (max-width: 430px) {
    .main {
        justify-content: flex-start;
    }
    .main a {
        font-size: 0.9rem; 
        margin: 5px 0; 
    }
}

@media (max-width: 390px) {
    .main {
        justify-content: flex-start;
    }
    .main a {
        font-size: 0.8rem; 
        margin: 5px 0; 
    }
}


#aboutme:hover,
#contactme:hover,
#github:hover,
#projects:hover,
#resume:hover,
#home:hover,
#gptapp:hover,
#latexresume:hover,
#voicenote:hover,
#holocron:hover{
    text-decoration: underline;
}

#aboutme,
#contactme,
#github,
#projects,
#resume,
#home,
#gptapp,
#latexresume,
#voicenote,
#holocron
{
    color: white;
    text-decoration: None;
}

.projects{
    text-align: center;
    font-family: 'Sora', sans-serif;
    color: white;
    margin-top: 100px;
}

.voicenote{
    font-size: 3.5rem;
}

.holocron{
    font-size: 3.5rem;
}

.gptstore{
    font-size: 3rem;
}

.latexresume{
    font-size: 3rem;
}

.explanation{
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-top: -20px;
}